
  
  .nav{
  
          
    position:fixed; /* 绝对定位，fixed是相对于浏览器窗口定位。 */
    top:0; /* 距离窗口顶部距离 */
    left:0; /* 距离窗口左边的距离 */
    width:100%;  /* 高度 */
          height: 80px;
    z-index:9999; /* 层叠顺序，数值越大就越高。页面滚动的时候就不会被其他内容所遮挡。 */
          background: #272727;
          box-shadow: rgba(0,0,0,0.1) 0px 5px 20px;
  }
  
     
  
      #navleft{
        outline: none;
          float: left;
        line-height: 80px;
          color:#ffffff;
          font-family:myFirstFont;
          font-size: 35px;
          padding-left: 10px;
          text-decoration: none;
          background: #272727;
          z-index: 3000;
          cursor: pointer;
      }
      .navright{
        outline: none;
        background: #272727;
        color:#ffffff;
        font-size: 20px;
      }
      .menulogo{
          outline: none;
          position: absolute;
          top:25px;
          right: 10px;
          border: none;
          padding-right: 10px;
          z-index: 3500;
          
        outline:none;
        cursor: pointer;
      }
      .navbar{
       color:#ffffff;
        background: #272727;
        position:fixed;
        top:80px;
        right: 0px;
        border: none;
        width: 60%;
        z-index: 99;
        height: 100%;
        box-shadow: -10px 10px 5px rgba(0,0,0,0.1);
      }
      #mainname
      { 
          padding-top: 200px;
          font-family: myFirstFont;
          font-size: 70px;
          text-align: center;
      }
      #remain{
        padding-top: 50px;
        font-family: myFirstFont;
        font-size: 30px;
        text-align: center;
    }
    #remain2{
      padding-top: 50px;
      font-family: fantasy;
      font-size: 20px;
      text-align: center;
  }
  #remain3{
    font-family: myFirstFont;
    font-size: 23px;
    text-align: center;
  }

  .about{
    outline: none;
    color: #ffffff;
    background: #272727;
    cursor: pointer;text-decoration: none;
  }
  .about:hover{
    outline: none;
    background: #1f1f1f;

  }
  #navli{
    margin-top: 10px;
  }

  #index{
    width: 100%;
    height: 100%;
  }
  .button{
     color:#ffffff;
    width: 100%;
    background: #272727;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    text-align: left;
  }
  .button:hover{
    outline: none;
    background: #1f1f1f;
  }
